<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>

    </div>
    <div>
        <h1><%= title %></h1>
        
        <form action="/login" method="POST">
            <div class="loginLabelDiv">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="loginLabelDiv">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="loginLabelDiv">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Login</button>
        </form>
        
        <%- include('partials/errors'); %>

        <form action="/login/signUp" method="GET">
            <button type="submit">Create Account</button>
        </form>
    </div>
</body>
</html>