<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>

    </div>
    <div>
        <h1>NotX</h1>
        <form action="/login" method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <button type="submit">Login</button>
        </form>
        <form action="/login/createAccount" method="POST">
            <button type="submit">Create Account</button>
        </form>
    </div>
</body>
</html>