* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
}

/* LOGIN */

.login-container {
    height: 100vh;
    padding: 100px 50px 0px 50px;
    background:black ;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

/* */
.login-container>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* MODALS */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.modal-header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signUp-modal-content{
    height: 500px;
    width: 500px;
    padding: 20px 30px;
    background: gray;  
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.createPost-modal-content{
    width: 500px;
    padding: 20px 30px;
    background-color: grey;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* FORMS */
textarea {
    resize: none;
}

.authForm {
    height: 3fr;

    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}


.createPostForm {
    display: flex;
    flex-direction: column;
}

.createLabelDiv {
    margin: 10px 0px;
    padding: 10px 0px;

    display: flex;
    align-items: baseline;
    gap: 20px;
    border-bottom: solid 1px black;
}

.createPostForm button {
    padding: 20px;
    background-color: white;

    font-size: 24px;
    border: none;
    border-radius: 30px;
}

.createPostForm button:hover {
    background-color: rgba(255, 255, 255, 0.591);
}

.createPostForm textarea{
    width: 400px;
    padding: 10px;

    background-color: inherit;
    border: none;

    font-size: 20px;
    color: white;
}


/* TABS CONTAINER */
.container { 
    display: flex;
}


/* SIDEBAR */

#sidebar {
    height: 100vh;
    width: 300px;

    position:fixed;
    top: 0;
    left: 0;

    background-color: black;
    color: white;
    border-right: 1px solid white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#sidebar nav {
    height: 100%;
    width: 100%;
    padding: 100px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav a{
    padding: 10px 0px;
    width: 200px;
    border-radius: 5px;
    
    text-align: center;
    color: white;
    text-decoration: none;
}
nav a:hover {
    background-color: grey;
}

/* RIGHTBAR*/

#rightbar {
    height: 100vh;
    width: 400px;

    background-color: black;
    color: white;
    border-left: 1px solid white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

/* HOME */ 
.middle {
    margin-left: 300px;
    width: 100%;
    color:white;
}

/* PROFILE */
#profile-content {
    display: flex;
    flex-direction: column;
}

#profile-bar {
    height: 30px;
    width: 100%;
    padding: 0px 10px;
    margin: 10px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile-banner {
    background-color: grey;
}

#profile-bar div:nth-child(2){
    width: 60%;
}

#profile-bar div:first-child {
    width: 20%;
}
#profile-bar div:last-child {
    width: 20%;
}

#profile-banner {
    height: 200px;
}
#profile-info {
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#profile-info div:first-child {
    height: 100px;
    padding: 0px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#profile-identity {
    height: 100px;
    padding: 0px 10px;
}
#profile-following {
    padding: 0px 10px;
}
#profile-nav {
    display: flex;
    border-bottom: 1px solid white;
}

#profile-nav div {
    width: 25%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}

#profile-nav div:hover {
    background-color: grey;
}